.display-1{
  display: flex;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  width :50%;
  flex-shrink: 0;
}
.HomePage-title{
  color: #000;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "sans-serif";
  font-size: 64px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
.HomePage-paragraph{
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
}
.btn{
  width: 165px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #F9FCFA;
  margin: 20px 20px;  
}

