.navbar{
  width: 1440px;
  height: 143px;
  flex-shrink: 0;
  width: 100%;
  height: 143px;
  flex-shrink: 0;
  background-color: #B7E4C7;
}
.btn{
  width: 165px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #F9FCFA;
  margin: 20px 20px;  
}
.logo-icon{
  margin-right: 60px;
  margin-left: 40px;
}
.nav-text{
}